---
layout: blogList
---

<section class="mt-15">
    {% set bloglist = collections.blogPosts %}

    {% for blog in bloglist | reverse %}
        <article class="my-8">

            <h2 class="font-bold text-3xl text-gray-900 mb-2">

                <a href="{{ blog.url | url }}">
                    {% if blog.data.title %}
                        {{ blog.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            {% if blog.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ blog.data.description }}
                </p>
            {% endif %}

			<time class="text-gray-500 mb-3 text-sm italic block">{{ blog.data.date | readableDate }}</time>

			<a href="{{ blog.url | url }}" class="text-[color:var(--primary-color)] hover:text-[color:var(--primary-hover)] font-bold text-lg">
				Read more →
			</a>

        </article>
    {% endfor %}
</section>