@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

:root {
  --primary-color: rgb(29, 78, 216);
  --primary-hover: rgb(30 64 175);
  --affiliate-color: #FFD814;
  --affiliate-hover: #F7CA00;
  --badge-color: #35853a;
}

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}

/* To stop flicker after deferring Alpine JS */
[x-cloak] { display: none !important; }

.badge-border::after {
  border-right-width: 11px;
  border-bottom-width: 11px;
  bottom: -0.68rem;
}
